<html>
   <head>
      <title>WELCOME TO OUR HOME PAGE</title>

      <style>
    th, td {
  text-align: center;
  padding: 10px;
}
button {   
         width: 10%;  
        color: orange;   
        padding: 15px;   
        margin: 10px 0px;   
        border: none;   
        cursor: pointer;   
         } 

         button:hover {   
        opacity: 0.7;   
        opacity: 0.7;   
    }
   
</style>
   </head>
   <body  text="white">
<center>    <h2>ADD EMPLOYEE DATA</h2>
    <form method='POST' action={% url 'reg_employee' %}>{% csrf_token %}
     <table border='15' height= 500 width=500>
        <th COLSPAN='2' BGCOLOR='white'> NEW EMPLOYEE DETAILS </th> 
      
        <tr> 
        <TD><font face='Arial' Color='Black'> Enter Name </TD><td><input type='text' name='name'>   </td> </tr>
        <tr> 
        <TD> <font face='Arial' Color='Black'>Enter City </TD><td><input type='text' name='city'>   </td> </tr>
        <tr> 
        <TD> <font face='Arial' Color='Black'>Enter Salary   </TD><td><input type='text' name='salary'>   </td> </tr>
         <tr> 
        <TD> <font face='Arial' Color='Black'>Enter Desgination   </TD><td><input type='text' name='desgination'>   </td>
         </tr>
      
      <tr><td Colspan='2'><center><input type='Submit' Value='Add' name="Add"></center></td></tr>
     </table>
    </form>

</center>


   </body>
</html>